@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Poppins:ital,wght@0,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  font-size: 1.4em;
  padding: 10px;
  font-family: Inconsolata, sans-serif;
}

nav ul {
  display: flex;
  text-decoration: none;
}

nav ul li {
  list-style: none;
  color: white;
  margin: 0 16px;
  text-decoration: none;
}

nav ul a {
  text-decoration: none;
}

nav ul a:hover {
  background-color: dimgray;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: dimgrey;
  text-align: center;
  font-size: 2.4em;
  font-family: Poppins, sans-serif;
}
.profile-img {
  width: 300px;
  border-radius: 3000px;
  margin-top: -30px;
}

.welcome-header {
  margin-top: 30px;
  line-height: 2em;
}

#projects {
  background-color: #d5c5c8;
  height: 99vh;
  text-align: center;
  padding: 2em 2rem;
}

.project-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-family: Poppins, sans-serif;
  font-size: 2em;
}

/* .project-header h1 {
  
} */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
  gap: 4em;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-grid a {
  border: 2px solid black;
  text-decoration: none;
  color: black;
  background-color: dimgray;
  justify-content: center;
}

.project-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.project-title {
  padding: 10px;
}
/* Contact */
#contact-section {
  background-color: #ffdbda;
  height: 90vh;
  text-align: center;
}

.contact-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  padding-top: 4em;
  font-size: 2em;
}

.contact-links {
  margin-top: 9em;
}
.contact-links a {
  margin: 0 30px;
  text-decoration: none;
  color: black;
  font-size: 2em;
}

.contact-links a i {
  margin-right: 3px;
}
/* Footer */
footer {
  margin: 0 auto;
  background-color: black;
  color: white;
  height: 5vh;
  font-family: Inconsolata, sans-serif;
  font-size: 1.2em;
}

footer p {
  padding-top: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}
